<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Hey Ejs <%= 3 + 3 %> </h1> -->
     <form action="/must"method="post">
     <!-- <form action="/must"method="get"> -->
      <input type="text" name="username" placeholder="Enter your username">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="password" placeholder="password">
      <button type="submit">Submit</button>
     </form>
</body>
</html>